.error404 {

	& .page-header {
		padding-left: 0;
		padding-right: 0;
	}

	& .page-title {
		font-size: 2rem;
		font-weight: 400;
		text-align: center;
	}

	& .page-content {
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		@media (--medium-viewport) {
			max-width: 60%;
		}
	}

	& .error-404 {
		max-width: var(--max);
	}
}
