.error404 {

	& .page-header {
		padding-left: 0;
		padding-right: 0;
	}

	& .page-title {
		font-size: 2rem;
		font-weight: 400;
	}

	& .page-content {
		margin-left: auto;
		margin-right: auto;
	}

	& .error-404 {
		max-width: var(--max);
	}
}
