@import "./conf/variables.css";
@import "./base/typography.css";
@mixin selector-typography .wp-block, body1;
@mixin selector-typography p, body1;
@mixin selector-typography .editor-post-title__input, headline2, 6, 6, 300;

body {
	background: var(--mdc-theme-background, #fff);
	color: var(--mdc-theme-on-background, #000);
}

blockquote {
	border-left: 1px solid var(--mdc-theme-primary, #6200ee);

	& div {
		margin-bottom: 1.5rem;
		margin-top: 1rem;
	}

	& .wp-block-quote__citation {
		color: currentColor;
	}
}
