@import "@material/typography/dist/mdc.typography.css";
@import "@material/button/dist/mdc.button.css";
@import "@material/top-app-bar/dist/mdc.top-app-bar.css";
@import "@material/icon-button/dist/mdc.icon-button.css";
@import "@material/drawer/dist/mdc.drawer.css";
@import "@material/list/dist/mdc.list.css";
@import "@material/form-field/dist/mdc.form-field.css";
@import "@material/floating-label/dist/mdc.floating-label.css";
@import "@material/textfield/dist/mdc.textfield.css";
@import "@material/checkbox/dist/mdc.checkbox.css";
@import "@material/card/dist/mdc.card.css";
@import "@material/layout-grid/dist/mdc.layout-grid.css";
@import "@material/ripple/dist/mdc.ripple.css";
@import "@material/image-list/dist/mdc.image-list.css";
@import "@material/tab-bar/dist/mdc.tab-bar.css";
@import "@material/tab-scroller/dist/mdc.tab-scroller.css";
@import "@material/tab-indicator/dist/mdc.tab-indicator.css";
@import "@material/tab/dist/mdc.tab.css";

.mdc-card,
.mdc-card__link,
.single-post-card__title,
.mtb-card__title {
	color: var(--mdc-theme-on-surface, #000);
}

.mdc-card--outlined.has-post-thumbnail {
	overflow: hidden;

	& .mdc-card__link {
		margin-top: -1px;
	}
}
