.top-app-bar {
	.site-title a {
		text-decoration: none;
	}

	.-with-drawer &__menu .menu {
		display: none;
	}
	
	&__menu-trigger {
		display: none;

		.-with-drawer & {
			display: block;
		}
	}

	&__button {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
