.archive-image-list {
	column-count: 1;
	column-gap: 1rem;
	margin-top: 1.5rem;

	@media (--medium-viewport) {
		column-count: 2;
	}

	& .mdc-image-list__item {
		margin-bottom: 1rem;
		margin-top: 0;
	}
}
