.entry-footer {
	align-content: center;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 1.5rem;

	@media (--medium-viewport) {
		flex-direction: row;
	}

	& a {
		margin-left: 0.25rem;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	& .cat-links,
	& .tags-links {
		align-items: center;
		display: flex;
		margin-bottom: 0.5rem;

		@media (--medium-viewport) {
			margin-bottom: 0;
		}
	}

	& .tags-links {

		@media (--medium-viewport) {
			margin-left: 1rem;
		}
	}

	& .edit-link {
		align-items: center;
		display: flex;

		@media (--medium-viewport) {
			margin-bottom: 0;
			margin-left: auto;
		}
	}
}
