.entry-meta {
	display: flex;

	& a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	& .author {
		align-items: center;
		display: flex;
		margin-right: 1rem;

		& .material-icons {
			margin-right: 0.5rem;
		}
	}

	& .posted-on {
		align-items: center;
		display: flex;

		& .material-icons {
			margin-right: 0.5rem;
		}
	}

	& .separator {
		align-self: center;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}
