.entry-footer {
	align-content: center;
	display: flex;

	& a {
		font-weight: 700;
		margin-left: 0.5rem;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	& .cat-links {
		display: flex;
	}

	& .tags-links {
		display: flex;
		margin-left: 1rem;
	}
}
