.site-footer {
	height: 4rem;
	margin-top: 2rem;

	& .site-footer__inner {
		align-items: center;
		background-color: var(--mdc-theme-footer);
		display: flex;
		justify-content: space-between;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		width: 100%;
	}

	& .site-footer__text {
		color: var(--mdc-theme-on-footer);
	}

	& .mdc-layout-grid__inner {
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		max-width: var(--material-footer-max-width, 60rem);
		width: 100%;
	}

	& .back-to-top {
		text-align: right;

		& button {
			color: var(--mdc-theme-on-footer);

			&:focus {
				outline: 1px dotted;
			}
		}
	}

	& .mdc-layout-grid__cell {

		@media (--small-viewport-max) {
			grid-column-end: span 2;
		}
	}
}
