.logo {
	align-items: center;
	display: flex;
	padding: 0.75rem;

	& img {
		display: block;
	}

	@nest .top-app-bar & img {
		max-height: 36px;
		width: auto;
	}

	@nest .mdc-drawer__header & img {
		height: auto;
		max-width: 200px;
	}
}
