.post-navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;

	& .post-navigation__next,
	& .post-navigation__previous {
		align-items: center;
		display: flex;
		padding-bottom: 0.0625rem;
		padding-top: 0.0625rem;
		width: 50%;
	}

	& .post-navigation__next {
		justify-content: flex-end;
		padding-left: 0.5rem;
	}

	& .post-navigation__next .material-icons {
		margin-left: 0.5rem;
	}

	& .post-navigation__previous {
		padding-right: 0.5rem;
	}

	& .post-navigation__previous .material-icons {
		margin-right: 0.5rem;
	}

	& a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
