.post-card {

	& .post-card__title a {
		text-decoration: none;
	}

	.mdc-card__action--button {
		color: #404040;
		text-transform: none;
	}

	.mdc-card__action-buttons .mdc-button__icon {
		color: var(--mdc-theme-primary, #6200ee);
	}

	.post-card__primary,
	.post-card__secondary {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
