.search-form {
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	@nest .error-404 &, .search-no-results & {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 0;

		@media (--medium-viewport) {
			flex-direction: row;
			margin-bottom: 25vh;
			margin-top: 3rem;
		}
	}

	@nest .top-app-bar__search & {
		align-items: center;
		display: flex;
		width: 100%;

		& .mdc-text-field {
			margin-left: 1rem;

			& .mdc-text-field__input {
				border: 0;
				caret-color: var(--mdc-theme-on-header, var(--mdc-theme-on-primary, #fff));
				color: var(--mdc-theme-on-header, var(--mdc-theme-on-primary, #fff));

				&::placeholder {
					color: var(--mdc-theme-on-header, var(--mdc-theme-on-primary, #fff));
				}
			}
		}

		& .mdc-button__label {
			display: none;
		}

		& .mdc-button__icon {
			margin-left: 0;
			margin-right: 0;
		}

		& .button__back {
			background-color: transparent;
			color: var(--mdc-theme-on-header, var(--mdc-theme-on-primary, #fff));
			padding-left: 0.25rem;
			margin-right: 0;
			min-width: 2.25rem;
		}
	}
}
