.top-app-bar {
	box-shadow: 1px 0 2px rgba(0, 0, 0, .5);

	& .site-title a {
		text-decoration: none;
	}

	& .top-app-bar__menu .menu {
		display: none;
	}

	&:not(.-with-drawer) .top-app-bar__menu .menu {

		@media (--medium-viewport) {
			display: block;
		}
	}

	& .top-app-bar__menu-trigger {

		@media (--medium-viewport) {
			display: none;
		}
	}

	&.-with-drawer .top-app-bar__menu-trigger {
		display: block;
	}

	& .top-app-bar__button {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& .top-app-bar__title {
		color: var(--mdc-theme-on-primary);
		padding-left: 0;

		& .site-title {
			font-size: 1.25rem;

			@media (--medium-viewport) {
				font-size: 2rem;
			}
		}
	}

	.top-app-bar__search {
		background-color: var(--search-background);
		display: none;
	}

	&.-with-search {

		.top-app-bar__header {
			display: none;
		}

		.top-app-bar__search {
			display: flex;
		}
	}
}

/* Customizer fix */
.-with-drawer .top-app-bar .top-app-bar__menu-trigger {
	display: none;
}

.-with-drawer .top-app-bar.-with-drawer .top-app-bar__menu-trigger {
	display: block;
}
