.top-app-bar {
	& .site-title a {
		text-decoration: none;
	}

	&.-with-drawer .top-app-bar__menu .menu {
		display: none;
	}
	
	& .top-app-bar__menu-trigger {
		display: none;
	}

	&.-with-drawer .top-app-bar__menu-trigger {
		display: block;
	}

	& .top-app-bar__button {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& .top-app-bar__title {
		padding-left: 0;

		& .site-title {
			font-size: 0.875rem;

			@media (--medium-viewport) {
				font-size: 2rem;
			}
		}
	}
}
