.masonry-grid {
	display: flex;
	padding: 24px;
	padding: var(--mdc-layout-grid-margin-desktop, 24px);
	width: auto;
}

.masonry-grid_column {
	padding-left: 24px;
	padding-left: var(--mdc-layout-grid-margin-desktop, 24px);
	background-clip: padding-box;

	&:first-child {
		padding-left: 0;
	}
}

/* @todo adjust width based on breakpoints */
.layout-masonry-2 {

	& .masonry-grid_column {
		width: 50%;
	}
}

.masonry-grid_column > div {
	margin-bottom: 24px;
	margin-bottom: var(--mdc-layout-grid-margin-desktop, 24px);
}
